@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
    --primary-color: #f60f20;
}

/*BASE STYLES*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    font-family: 'Poppins', sans-serif;
    color: #111;
}

h1{
    font-size: 30px;
    font-weight: 500;
}

p{
    margin: 20px 0 10px;
    font-size: 1.1rem;
}

section{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 100px;
}

/*BUTTON*/
.btn{
    display: inline-block;  /*Es necesario escribir esto para añadir un margin, ya el tag "a" por defecto es inline, y a los inline no se le puede añadir margin*/
    background: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.2s;
    border: 0;
}

.btn:hover{
    transform: scale(1.05);
    transition: 0.2s;
}

.logo{
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 2rem;
    font-weight: 700;
    z-index: 20;
}

/*TOGGLE*/
.toggle{
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: var(--primary-color) url(./images/menu.png);
    z-index: 20;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.toggle.active{
    background: var(--primary-color) url(./images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

/*NAVIGATION*/
.navigation{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%; /*El contenedor padre aqui no es el header, sino que el doc completo html. Esto porque la posicion de navigation es fixed*/
    height: 100%;
    background-color: #fff;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.active{
    left: 0;
    
}

.navigation ul{
    position: relative;
}

.navigation ul li{
    position: relative;
    list-style: none;
    text-align: center;
}

.navigation ul li a{
    font-size: 2.2rem;
    color:#111;
    text-decoration: none;
    font-weight: 300;
}

.navigation ul li a:hover{
    color: var(--primary-color)
}

.navigation .social-bar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .social-bar a{
    display: inline-block;
    transform: scale(0.5);
    transition: 0.2s;
}

.navigation .social-bar a:hover{
    transform: scale(0.6);
    transition: 0.2s;
}

.navigation .email-icon{
    position: absolute;
    bottom: 20px;
    transform: scale(0.5);

}

/*HOMEPAGE*/
.home-content{
    position: relative;
    z-index: 10;
    max-width: 600px;
}

.home-img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%; /*Si no se escribe esto la imagen no altera su tamaño al acortar el browser*/
}

/*Media Query*/

@media (max-width: 1068px) {
    .home-img{
        display: none;
    }

    .logo{
        top: 10px;
        left: 40px;
        font-size: 1.5rem;
    }

    section{
        padding: 100px 40px;
    }

    .navigation ul li a{
        font-size: 2rem;
    }
}





